<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>ITSAppUsesNonExemptEncryption</key>
    <false/>
    <key>NSMicrophoneUsageDescription</key>
    <string>This app requires access to the microphone to record speech.</string>
    <key>NSSpeechRecognitionUsageDescription</key>
    <string>This app requires access to speech recognition to transcribe your speech.</string>
    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSAllowsArbitraryLoads</key>
        <true/>
    </dict>
</dict>
</plist>
